<!DOCTYPE html>
<html lang= "en" >
  <head>
	<meta charset = "utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport">
	<title>BookBay</title>

	<link href="../bower_components/MDBootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../bower_components/MDBootstrap/css/mdb.min.css">
  <link rel="stylesheet" href="../css/index.css">
  </head>

  <body ng-app="bookBayApp" ng-controller="indexController as index">
    <nav class="navbar navbar-dark red ">
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx2">
        <i class="fa fa-bars"></i>
      </button>
       <div class="container">
          <div class="collapse navbar-toggleable-xs" id="collapseEx2">
             <a class="navbar-brand" href="#">BookBay</a>
             <ul class="nav navbar-nav">
               <li class="nav-item" ng-click="index.showHome()" >
                 <a class="nav-link">Home</a>
               </li>
               <li class="nav-item" ng-click="index.showInbox()">
                 <a class="nav-link">Inbox</a>
               </li>
               <li class="nav-item" ng-click="index.showOwned()">
                 <a class="nav-link">Owned</a>
               </li>
               <li class="nav-item" ng-click="index.showSettings()">
                 <a class="nav-link">Settings</a>
               </li>
             </ul>
             <form class="form-inline">
               <input class="form-control" type="text" placeholder="Search">
               <button type="button" class="btn btn-elegant">Go</button>
             </form>
          </div>
      </div>
    </nav>
    <br>
    <div ng-show ="index.home">

        <div class="container">
          <div class="row">
            <div class="col-md-6 offset-md-5">
              <h1>Top Sellers</h1>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="card-header danger-color-dark white-text text-xs-center">Title</div>
                  <div class="card-block">
                      <h4 class="card-title">Special title treatment</h4>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a class="btn btn-elegant">Go somewhere</a>
                  </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                  <div class="card-header danger-color-dark white-text text-xs-center">Harry Potter and the Chamber of Secrets</div>
                  <div class="card-block">
                      <h4 class="card-title">Special title treatment</h4>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a class="btn btn-elegant">Go somewhere</a>
                  </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                  <div class="card-header danger-color-dark white-text text-xs-center">Harry Potter and the Chamber of Secrets</div>
                  <div class="card-block">
                      <h4 class="card-title">Special title treatment</h4>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a class="btn btn-elegant">Go somewhere</a>
                  </div>
               </div>
             </div>
          </div>
        </div>
        <br>
        <div class="container">
          <div class="row">
            <div class="col-md-2 offset-md-4">
              <h1>Recommendations</h1>
            </div>
          </div>
        </div>
    </div>

    <div ng-show="index.inbox">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 col-md-2 col-sm-push-9 col-md-push-1 ">
            <nav class="navbar navbar-default- navbar-fixed-side" style="height:500px">
              <div class="card-header danger-color-dark white-text text-xs-center">
                <p>Conversations</p>
              </div>
            </nav>
          </div>
          <div class="col-sm-9 col-lm-10 col-sm-pull-3 col-lg-pull-2">
            <div class="card">
              <div class="card-block" style="height:500px">
                <div class="">

                </div>
                <div class="modal-footer">
                  <form class="form-line">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Enter a message..">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
    <div ng-show="index.owned">
      3
    </div>
    <div ng-show="index.settings">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="card">
              <div class="card-block">
                <div class="form-header white text-xs-center">
                  <h3>Username Changed</h3>
                </div>
                <div class="md-form">
                  <input required type="text" class="form-control" placeholder="old username">
                </div>
                <div class="md-form">
                  <input required type="text" class="form-control" placeholder="new username">
                </div>
                <div class="text-xs-center">
                  <button type="button" class="btn btn-elegant">Submit</button>
                </div>
              </div>
            </div>
            <div class="text-xs-center">
              <a href="#" ng-click="index.showPassword_form()" ng-show="index.settingsPassword">I want to change my password</a>
            </div>
            <div class="text-xs-center">
              <a href="#" ng-click="index.showDelete_account()" ng-show="index.settingsAccount">I want to delete my account</a>
            </div>
          </div>
          <!-- <div class="col-md-6 offset-md-3">
            <div class="card">
              <div class="card-block">
                <div class="form-header white text-xs-center">
                  <h3>Password Changed</h3>
                </div>
                <div class="md-form">
                  <input required type="text"class="form-control" placeholder="username">
                </div>
                <div class="md-form">
                  <input required type="password" class="form-control" placeholder="old password">
                </div>
                <div class="md-form">
                  <input required type="password" class="form-control" placeholder="new password">
                </div>
                <div class="text-xs-center">
                  <button type="button" class="btn btn-elegant">Submit</button>
                </div>
              </div>
            </div>
            <div class="text-xs-center">
              <a href="#" ng-click="index.showSettings()" ng-show="index.settings">I want to change my username</a>
            </div>
            <div class="text-xs-center">
              <a href="#" ng-click="index.showDelete_account()" ng-show="index.settingsAccount">I want to delete my account</a>
            </div>
          </div>
          <div class="col-md-6 offset-md-3">
            <div class="card">
              <div class="card-block">
                <div class="form-header white text-xs-center">
                  <h3>Delete my Account</h3>
                </div>
                <div class="md-form">
                  <input required ="text" class="form-control" placeholder="username">
                </div>
                <div class="md-form">
                  <input required="password" class="form-control" placeholder="password">
                </div>
                <div class="text-xs-center">
                  <button type="button" class="btn btn-danger">Delete</button>
                </div>
              </div>
            </div>
            <div class="text-xs-center">
              <a href="#"ng-click="index.showSettings()">I want to change my username</a>
            </div>
            <div class="text-xs-center">
              <a href="#" ng-click="index.showDelete_account()" ng-show="index.settingsAccount">I want to change my password</a>
            </div>
          </div> -->
        </div>
      </div>
    </div>

  </body>
  <script src="../bower_components/MDBootstrap/js/jquery-2.2.3.min.js"></script>
  <script src="../bower_components/MDBootstrap/js/tether.min.js"></script>
	<script src="../bower_components/MDBootstrap/js/bootstrap.min.js"></script>
  <script src="../bower_components/MDBootstrap/js/mdb.min.js"></script>
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../js/bookBay.js"></script>
</html>
